#root {
  text-align: center;
  background-color: #242424;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom-width: double;
  border-bottom-style: solid;
  border-bottom-color: #046daa;
  background-color: #303030;
}

main {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  height: calc(100% - 52px);
  overflow: scroll;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main is the main area with 3 card, the 2 first playable card and the 3rd one visible */
.main {
  margin: 1rem;
  border: double solid whitesmoke;
  color: #888;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(504px, auto);
  position: relative;
  text-align: center;
  max-width: max-content;
  margin: auto;
}

.main > div:first-child {
  display: flex;
  flex-direction: column;
}

.newGame {
  display: flex;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: right;
}
.right p {
  margin: 0;
  font-size: 2rem;
}
.right p:first-child {
  margin-bottom: -13px;
  margin-right: -11px;
}

.center {
  text-align: center;
}
.center p {
  margin: 0;
  font-size: 5rem;
}

.left {
  text-align: left;
}
.left p {
  margin: 0;
  font-size: 2rem;
}
.left p:first-child {
  margin-bottom: -13px;
  margin-left: -11px;
}

.item0 {
  grid-area: stage1;
}
.item1 {
  grid-area: stage2;
}
.item2 {
  grid-area: stage3;
}
.item3 {
  grid-area: stage4;
}

.card {
  border: thick solid whitesmoke;
  color: #888;
  display: grid;
  grid-gap: 5px;
  column-gap: 5px;
  position: relative;
  text-align: center;
  max-width: max-content;
  margin: 1rem auto;
}

.template11 {
  grid-template-areas: "stage1";
}
.template12 {
  grid-template-areas: "stage1 stage2";
}
.template13 {
  grid-template-areas: "stage1 stage2 stage3";
}
.template14 {
  grid-template-areas: "stage1 stage2 stage3 stage4";
}

.template31 {
  grid-template-areas:
    "stage1 stage3"
    "stage2 stage3";
}

.template32 {
  grid-template-areas:
    "stage2 stage3"
    "stage1 stage3";
}

.template33 {
  grid-template-areas:
    "stage3 stage1"
    "stage3 stage2";
}

.template41 {
  grid-template-areas:
    "stage1 stage3"
    "stage2 stage4";
}

.template42 {
  grid-template-areas:
    "stage2 stage4"
    "stage1 stage3";
}

.template43 {
  grid-template-areas:
    "stage3 stage1"
    "stage4 stage2";
}

.template44 {
  grid-template-areas:
    "stage4 stage2"
    "stage3 stage1";
}

.action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(34px, auto);
}

.action .stock {
  grid-column: 1 / 3;
  display: flex;
}

.two-cell {
  grid-column: 1 / 3;
  display: flex;
}

.action .no-stock {
  display: flex;
}

.first-row {
  grid-row: 1;
}

.second-row {
  grid-row: 2;
}

.action button {
  background-color: #046daa; /* Green */
  border: none;
  color: #303030;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: auto;
}

.disabled button {
  background-color: #303030;
  cursor: default;
  border: none;
  color: #101010;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: auto;
}

.currentResources {
  font-size: 1.25rem;
  font-weight: bolder;
  color: aquamarine;
}

.card4 .stage {
  border: thin dotted aliceblue;

  position: relative;
  text-align: center;
  color: white;
  width: 250px;
  height: 210px;

  max-width: 250px;
  min-width: 250px;
  max-height: 210px;
  min-height: 210px;
}

.card .stage {
  border: thin dotted aliceblue;

  position: relative;
  text-align: center;
  color: white;
  width: 250px;
  height: 210px;

  max-width: 250px;
  min-width: 250px;
  max-height: 210px;
  min-height: 210px;
}

.card3 .stage {
  border: thin dotted aliceblue;

  position: relative;
  text-align: center;
  color: white;
  width: 250px;

  max-width: 250px;
  min-width: 250px;
  min-height: 210px;
}

.textOverlay {
  position: absolute;
  top: 0px;
  left: 4px;
}

.textOverlayBR {
  position: absolute;
  bottom: 0px;
  right: 4px;
}

.blurred {
  filter: blur(20px);
}

.fullsize {
  width: 100%;
  height: 100%;
}

.textOverlay3 {
  position: absolute;
  font-size: 0.8rem;
  top: -4px;
  left: -12px;
}

.textOverlay2 {
  position: absolute;
}

.resource {
  font-size: 2.5rem;
  min-height: 72px;
  max-height: 72px;
  margin-bottom: 20px;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  color: aquamarine;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #242424;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  height: 0px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slideContainer {
  width: 30%; /* Width of the outside container */
  margin: 0 40px;
  margin-top: 60px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.diffTextContainer {
  display: flex;
  position: relative;
}

.diffText {
  rotate: -150deg;
  display: block;
  position: absolute;

  writing-mode: vertical-lr;
  bottom: 0;
  left: 0;
  text-align: left;
  width: fit-content;
}
